{% extends 'base.html' %}

{% block content %}
    {% load static %}

    <section class="hero">
        <div class="container">
            <div class="hero-content">
                <h1 class="hero-title">Descubre la emoción de conducir</h1>
                <p class="hero-subtitle">La Vespa Primavera es una moto scooter clásica y elegante con un diseño icónico. Es perfecta para aquellos que buscan una moto para moverse en la ciudad con estilo. Además, es fácil de manejar y tiene un bajo consumo de combustible, lo que la hace una opción económica y práctica.</p>
            </div>
        </div>
        <div class="container">
            <div class="hero-content">
                <a href="/scooters" class="btn btn-primary">Volver</a>
            </div>
        </div>
    </section>

    <section class="featured-model">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static 'imgs/Scooter/VespaPrimavera125.jpg' %}" alt="Vespa Primavera 125" class="featured-model-image">
                </div>
                <div class="col-md-6">
                    <h1 class="featured-model-title">Vespa Primavera 125</h1>
                    <h3 class="featured-model-description">Precio lista: $5.390.000</h3>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <h5>*Los precios y especificaciones aplican respecto vehículos año modelo 2023, IVA Incluido; no incluyen: Permiso de Circulación, Patentes, accesorios, seguro y gastos administrativos.</h5>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="footer-text">&copy; 2023 Breninng Motors.</p>
        </div>
    </footer>
{% endblock %}
