{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politica de Privacidad</title>
    {% load static %}
    <link rel="stylesheet" href="{% static './css/style.css' %}" />
    {% load static %}
    <link rel="stylesheet" href="{% static './css/normalize.css' %}" />

</head>
<body>
    
    <title>Política de privacidad - Venta de motos</title>
</head>
<body>
	<hr>
  <center>
	<h1>Política de privacidad</h1>
	<p>Al utilizar el Sitio Web, usted acepta las prácticas descritas en esta Política de Privacidad.</p>
	<p>Esta Política de Privacidad describe cómo Breninng Motors recopila, utiliza y comparte la información que recopilamos de los usuarios del sitio web Breninng Motors.</p> 
	<h2>Información que recopilamos</h2>
	<p>Podemos recopilar información personal y no personal sobre usted cuando utiliza el Sitio Web. La información personal que podemos recopilar incluye, entre otros:</p>
	<ul>
		<p>Nombre, Dirección de correo electrónico, Número de teléfono, Dirección postal, Información de pago (por ejemplo, número de tarjeta de crédito)</p>
	</ul>
	<p>Además, podemos recopilar información no personal sobre su uso del Sitio Web, como su dirección IP, tipo de navegador, páginas visitadas y tiempo de estancia en el sitio.</p>
	<h2>Cómo utilizamos la información</h2>
	<p>Utilizamos la información que recopilamos para los siguientes fines:</p>
	<ul>
		<p>Procesar sus pedidos, Enviarle información sobre nuestros productos y servicios,</p>
		<p>Mejorar el Sitio Web y nuestros productos y servicios, Responder a sus preguntas y comentarios.</p>
	</ul>
	<h2>Compartir la información</h2>
	<p>Podemos compartir su información personal con terceros en los siguientes casos:</p>
	<ul>
		<p>Para procesar su pedido y enviarle los productos que ha comprado</p>
		<p>enviarle información sobre nuestros productos y servicios</p>
		<p>Para cumplir con la ley o en respuesta a una orden judicial o una solicitud gubernamental</p>
		<p>Si creemos de buena fe que la divulgación es necesaria para proteger nuestros derechos, su seguridad o la seguridad de otros</p>
	</ul>
	<h2>Cómo protegemos su información</h2>
	<p>Tomamos medidas para proteger su información personal de pérdida, uso indebido y acceso no autorizado,</p>
	<p>alteración y destrucción. Utilizamos medidas de seguridad físicas, electrónicas y administrativas para ayudar a proteger su información personal.</p>
	<h2>Cambios en la política de privacidad</h2>
	<p>Podemos actualizar esta Política de Privacidad periódicamente para reflejar cambios en nuestras prácticas de información. Le recomendamos que revise esta página regularmente para estar informado sobre cualquier cambio en nuestra Política de Privacidad.</p>
	<h2>Contacto</h2>
	<p>Si tiene alguna pregunta sobre esta Política de Privacidad, por favor contáctenos a través de nuestro formulario de contacto en el sitio web Breninng Motors.</p>
</body>
</html>
</center>
<br>
  <br>
  <br>
  <footer class="container-fluid mx-2 text-center  " style="color: rgb(0, 0, 0)">
      &copy;2023 TheBrenningCompany
  </footer>

</body>
</html>
{% endblock %}