{% extends 'base.html' %}

{% block content %}
    <h1>Carrito de compras</h1>
    {% if detalles_carrito %}
        <table>
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio unitario</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for detalle in detalles_carrito %}
                    <tr>
                        <td>{{ detalle.producto.nombre }}</td>
                        <td>{{ detalle.cantidad }}</td>
                        <td>{{ detalle.producto.precio }}</td>
                        <td>{{ detalle.subtotal }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3">Total:</td>
                    <td>{{ total }}</td>
                </tr>
            </tbody>
        </table>
        <a href="/productos" class="btn btn-primary">Productos</a>
        <a href="{% url 'checkout' %}" class="btn btn-primary">Realizar compra</a>
    {% else %}
        <p>No hay productos en el carrito.</p>
    {% endif %}
{% endblock %}
