{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static './css/style.css' %}">
</head>
<body>
    <section id="inicio" style="display: contents;">
        <h2>¡Bienvenidos a Breninng Motors!</h2>
        <p>¡Somos una empresa enfocada en la venta de motocicletas de alta calidad y precios competitivos. Ofrecemos una experiencia de compra única y contamos con un equipo altamente capacitado y comprometido en brindar un excelente servicio al cliente y asesoramiento para elegir la mejor motocicleta según las necesidades y preferencias de nuestros clientes.</p>
      </section>
      
      <section id="contacto" style="display: flex;">
        <div style="flex: 1; display: flex; justify-content: center; align-items: center;">
          <div>
            <form action="https://formsubmit.co/ma.laborie@duocuc.cl" method="POST">
              <table>
                <tr>
                  <td><label for="nombre">Nombre:</label></td>
                  <td><input type="text" id="nombre" name="nombre" required></td>
                </tr>
                <tr>
                  <td><label for="email">Email:</label></td>
                  <td><input type="email" id="email" name="email" required></td>
                </tr>
                <tr>
                  <td><label for="mensaje">Mensaje:</label></td>
                  <td><textarea id="mensaje" name="mensaje" rows="2" required></textarea></td>
                </tr>
                <tr>
                  <td><label for="opcion1">Tipo de motocicleta:</label></td>
                  <td>
                    <select id="opcion1" name="opcion1" onchange="mostrarSegundaLista(this.value)">
                      <option value="">Seleccionar</option>
                      <option value="urbanas">Urbanas</option>
                      <option value="vintage">Vintage</option>
                      <option value="hyper-naked">Hyper Naked</option>
                      <option value="adventure-touring">Adventure Touring</option>
                      <option value="scooters">Scooters</option>
                    </select>
                  </td>
                </tr>
                <tr id="segundaListaRow" style="display: none;">
                  <td><label for="opcion2">Modelo de motocicleta:</label></td>
                  <td>
                    <select id="opcion2" name="opcion2">
                      <option value="">Seleccionar</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <input type="hidden" name="_captcha" value="false">
                  <input type="hidden" name="_next" value="http://localhost/programacion2023_LosBrenning/contacto.html">
                  <td colspan="2" style="text-align: center;"><input type="submit" value="Enviar"></td>
                </tr>
              </table>
            </form>
          </div>
        </div>
        <script src="js/contacto.js"></script>
        
        <div style="flex: 1;">
          <div style="width: 600px; height: 450px;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d989.9022329368959!2d-70.61528254327918!3d-33.43312516615078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c586497835ad%3A0xa929ba68e1ac6051!2sDuoc%20UC%20Casa%20Central!5e0!3m2!1ses!2scl!4v1680842819695!5m2!1ses!2scl" width="100%" height="100%" style="border: 0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div>
            <p>Estamos ubicados en Eliodoro Yañez 1595, Providencia, Región Metropolitana</p>
            <p>Teléfono: +56 9 1234 5678</p>
            <p>Email: info@breninngmotors.com</p>
          </div>
        </div>
      </section>
                      
  </main>
  <br>
  <footer style="position: fixed; bottom: 0; width: 100%;">
    <p style="display: inline;">&copy; 2023 Breninng Motors</p>
    <li class="nav-item" style="display: inline;">
        <a class="nav-link" href="privacy-policy.html">privacy-policy</a>
    </li> 
</footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}