{% extends 'base.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static './css/style' %}" />
    <title>Registro</title>
  </head>
  <body>

        <h3>Registro de clientes</h3>
        
            
                {% if messages %} 
                {% for message in messages %}
                    <div class="alert alert-success">
                    {{ message }}
                    </div>
                {% endfor %} 
                {% endif %}

                <form method="POST">
                    {% csrf_token %} 
                    {{ form.as_p }}
                 <button type="submit">Registrar</button>
                </form>

            
        </div>
    </body>
</html>
{% endblock %}
