{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>G310R</title>
        <link rel="stylesheet" href="{% static './css/G310R.css' %}">
    </head>
    <body>
        <br>
        <button style="margin-left: 5%;" type="button" class="btn btn-secundary">
            <a href="/urbanas" style="text-decoration: none; ;color: black;">← Volver a Urbanas</a>
        </button>
        <br>
        <br>

        <article id = m1>
            <img src="{% static './imgs/310r.jpg' %}" alt="" width=100% />
          </article>
          <br><br>
          <article id = descripcion310>
            <h1>
              G 310 R
            </h1><br>
            <h3>
              Precio lista $6.490.000 <br>
            </h3>
            <h3 class="fw-bold">
              Bono de financiamiento $4.990.000
            </h3>  
            <Br>
              <h5>
                *Los precios y especificaciones aplican respecto vehículos año modelo 2023, IVA Incluido; no incluyen: Permiso de Circulación, Patentes, accesorios, seguro y gastos administrativos.
              </h5>
            
          </article>
          <br><br><br><br>
          <br><br><br><br>
          <br><br><br><br>
          <br><br><br><br>
          <br><br><br><br>
          <br><br>
          <a class="btn btn-primary" href="/contacto">Cotizar</a>
          <article id = descripcion1>
            <h1 class="fw-bold">
              LA BMW G 310 R
            </h1>
            <H4 class="fw-bold">
              Desafía la ciudad
            </H4>
    
          <article id = descripcion2>
            <h5>
               Despiértate con una sonrisa en la cara. Cada día representa una oportunidad para probar algo nuevo con la BMW G 310 R. Gracias al motor optimizado con Ride by Wire y el embrague anti-hopping podrás conducir de forma intuitiva y ágil al trabajo, a una reunión o fuera de la ciudad. Vive la agilidad, la facilidad de manejo y la deportividad de la G 310 R y continúa creciendo con ella, viviendo nuevas experiencias día a día.
            </h5>    
          </article>
        </article>
          <article id = m2>
            <img src="{% static './imgs/m2.jpg' %}" alt="" width=100% />
        </article>
    
        
          
          
      
          <br><br><br><br>
          <br><br><br><br> 
          <br><br><br><br> 
          <br><br><br><br> 

        
      <br>
      <br>
      <br>
      <footer class="container-fluid mx-2 text-center  " style="color: rgb(0, 0, 0)">
          &copy;2023 TheBrenningCompany
      </footer>
      </div>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
      </body>
    </body>
    </html>
{% endblock %}