{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BreningMotors</title>
</head>
<body>
    <h1> Brenning Motors </h1>

    <!--Slider de imagenes-->

    <h1>Una forma unica de vivir la vida</h1>
    <p >Somos una empresa dedicada a la venta de motocicletas, unicos en nuestra categoria, ven registrate y conocenos</p>    
  </section>
  <br>
  <br>
  <br>
  <footer>
      &copy;2023 TheBrenningCompany
  </footer>
</body>
</html>
{% endblock %}