{% extends 'base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static './css/Login.css' %}" />
  </head>
  <body>

    
    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %} {% endif %}

    <h3 style="text-align: center;">Inicia Sesion</h3>

    <div class="container style=text-align: center">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="id_rut" class="sr-only">RUT</label>
              <input
                type="text"
                class="form-control"
                id="id_rut"
                name="rut"
                placeholder="RUT"
                required
                autofocus
              />
            </div>
            <div class="form-group">
              <label for="id_password" class="sr-only">Contraseña</label>
              <input
                type="password"
                class="form-control"
                id="id_password"
                name="password"
                placeholder="Contraseña"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </form>
    </div>
    
    <a href="/registro"> Registrarse</a>

    <footer>&copy;2023 TheBrenningCompany</footer>
  </body>
</html>
{% endblock %}
