{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super-tenere</title>
    {% load static %}
    <link rel="stylesheet" href="{% static './css/super-tenere.css' %}">
</head>
<body>
  <br>
  <button style="margin-left: 5%;" type="button" class="btn btn-secundary">
      <a href="/adventuretouring "style="text-decoration: none; ;color: black;"> ← Volver a Adventure-Touring</a>
  </button>
  <br>
  <br>

    <article id = m1>
        {% load static %}
        <img src="{% static './imgs/aventure-turing/yamaha-xt-1200ze.jpg' %}" alt="" width=100% />
      </article>
      <br><br>
      <article id = descripcion310>
        <h1 class="fw-bold">
            Super Teneré (XT-1200ZE)
        </h1>
        <h3>
            Precio lista: $15.990.000 <br>
        </h3>
        <br>
        <Br>
          <h5>
            *Los precios y especificaciones aplican respecto vehículos año modelo 2023, IVA Incluido; no incluyen: Permiso de Circulación, Patentes, accesorios, seguro y gastos administrativos.
          </h5>
        
      </article>
      <br><br><br><br>
      <br><br><br><br>
      <br><br><br><br>
      <br><br><br><br>
      <br><br><br><br>
      <br><br>
      <a class="btn btn-primary" href="/contacto">Cotizar</a>
      <article id = descripcion1>
        <h1 class="fw-bold" >
            Super Teneré (XT-1200ZE)
        </h1>
        <H4>
            La Súper Ténéré (XT1200ZE) se ha diseñado para convertirse en la motocicleta de aventura más completa: ya que combina robustez y fiabilidad con un tipo de conducción ágil y sencilla. Además, cuenta con avanzada tecnología en niveles de seguridad,  capacidad de ajuste y configuración de la unidad al máximo.  El XT1200ZE convierte un viaje en una experiencia única y una oportunidad de desafiar cualquier límite.
        </H4>
      </article>
      <article id="m2">
        <img src="" alt="">
      </article>
    
      
      </article>
      <br><br><br><br>
      <br><br><br><br> 
      <br><br><br><br>
      <br><br><br><br>    
      <br><br><br><br> 
      <br><br><br><br> 
      <br><br><br><br> 
      <br><br><br><br> 
  <br>
  <br>
  <br>
  <footer class="container mx-2 text-center  " style="color: rgb(0, 0, 0)">
      &copy;2023 TheBrenningCompany
  </footer>
  </div>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}