{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiger 1200 Rally Explorer</title>
    {% load static %}
    <link rel="stylesheet" href="{% static './css/tiger.css' %}">
</head>
<body>
  <br>
    <button style="margin-left: 5%;" type="button" class="btn btn-secundary">
        <a href="/adventuretouring" style="text-decoration: none; ;color: black;">← Volver a Adventure-Touring</a>
    </button>
    <br>
    <br>
    <article id = m1>
        {% load static %}
        <img src="{% static './imgs/aventure-turing/trumph-tiger-1200-2022-rally-explorer.jpg' %}" alt="" width=100% />
      </article>
      <br><br>
      <article id = descripcion310>
        <h1 class="fw-bold">
            TRIUMPH TIGER 1200 RALLY EXPLORER
        </h1>
        <h3>
            Precio lista: $25.190.000 <br>
        </h3>
        <br>
        <Br>
          <h5>
            *Los precios y especificaciones aplican respecto vehículos año modelo 2023, IVA Incluido; no incluyen: Permiso de Circulación, Patentes, accesorios, seguro y gastos administrativos.
          </h5>
        
      </article>
      <br><br><br><br>
      <br><br><br><br>
      <br><br><br><br>
      <br><br><br><br>
      <br><br><br><br>
      <br><br>
      <a class="btn btn-primary" href="/contacto">Cotizar</a>
      <article id = descripcion1>
        <h1 class="fw-bold" >
            
        </h1>
        <H4>
                       
            La Triumph Tiger 1200 ofrece lo mejor de dos mundos adaptándose al tipo de aventura que busca cada motorista y por eso estrena nuevas denominaciones que reflejan sus nuevas capacidades. 5 modelos que representan una absoluta transformación en rendimiento y prestaciones en la carretera, así como una experiencia más dinámica y emocionante al abandonar el asfalto. Además, la gama incluye por primera vez dos nuevos modelos Explorer con depósito de combustible de 30 litros.
            <br>
            Las Triumph Tiger GT y la GT Pro, de especificaciones más de carretera, incorporan llantas de aluminio fundido de 19" en el tren delantero y 18" en el tren trasero, además de las nuevas suspensiones semi-activas Showa especialmente configuradas para ofrecer la experiencia Adventure definitiva en carretera.
            <br>
            La Triumph Tiger Rally Pro es la versión de campo y cuenta por primera vez una configuración específica con llantas de radios tubeless de 21” delante y 18” detrás que, junto con las nuevas suspensiones semi-activas Showa con un mayor recorrido, marcan una verdadera diferencia respecto a sus rivales en off-road, además de seguir siendo una moto excelente al regresar a la carretera.
            <br>
            Para completar la nueva gama de 5 modelos, Triumph lanza por primera vez dos nuevas Tiger con depósito de 30 litros: la Rally Explorer y la GT Explorer, ésta última es la única maxi-trail con llantas de aluminio fundido y depósito de gasolina de 30 litros para alcanzar una autonomía de hasta 600 Km. Ambas incorporan además el nuevo sistema de radar de ángulo muerto de Triumph y en conjunto están diseñadas para viajar por todo el mundo con total comodidad y estilo, además del más alto nivel de especificaciones y capacidades.
        </H4>
      </article>
      <article id="m2">
        <img src="" alt="">
      </article>
    
      
      </article>
      <br><br><br><br>
      <br><br><br><br> 
      <br><br><br><br>
      <br><br><br><br>    
      <br><br><br><br> 
      <br><br><br><br> 
      <br><br><br><br> 
      <br><br><br><br> 
  <br>
  <br>
  <br>
  <footer class="container mx-2 text-center  " style="color: rgb(0, 0, 0)">
      &copy;2023 TheBrenningCompany
  </footer>
  </div>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}